
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
   font-family: 'Poppins', sans-serif; 
  /* font-family: 'Space Grotesk', sans-serif; */
  
}



 body {
background: url("/assets/img/photo_2022-07-08_01-02-32.jpg");
 background-size: 100% 100%;
 background-repeat: no-repeat;
background-position: center center; 
background-attachment:fixed;  
 
 /* -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;  */  

  /* background-attachment: fixed;  */

  /* min-height: 100%; */
/* width: 100%;*/
/* height: 100%;  */
 
/* background: #fdfdfd; */
    /* background: linear-gradient(245.59deg,  #131313 28.53%, red 75.52%);  */ 
  /* height: 100vh; */ 
} 

/*  @media  screen and (max-width: 767px) {
  body {
    background-size: 100% 100%;
     background-image: url(/assets/img/photo_2022-07-08_01-02-32.jpg);
  }
}  */

header {
  position: fixed;  
   /* position: absolute;  */
  right: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  /*background: transparent;  */
  /*background: linear-gradient(245.59deg,  red 28.53%, #131313 75.52%); */
  /* background: hsl(280, 7%, 8%); */
  background: #000000; 
  height: 60px;
  top: 0;
}


.logo {
  width: 48px;
  height: 48px;
  /* font-size: 30px;
  font-weight: 700;
  color: rgb(235, 16, 16); */
}


.navlist {
  display: flex;
}

.navlist a {
  color: white;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
  
}


.navlist a:hover {
  border-bottom: 2px solid #e80d18; 
}


/* #roadmap {
  opacity: 0.5;
  cursor: not-allowed;
}



#about-us {
  opacity: 0.5;
  cursor: not-allowed;
}


#team {
  opacity: 0.5;
  cursor: not-allowed;
} */



#menu-icon{
  color: white;
  font-size: 30px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  /* background: linear-gradient(245.59deg,  #e80d18 28.53%, #131313 75.52%); */  
  /* background-color: #e80d18; */
  /*  background: #000000;  */
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  background-image: url(/assets/img/123123.png);
}

.hero-img img{
  width: 480px;
  height: auto;
}

    section {
    padding: 0 19%;
  }  

/* .hero-text {
  text-align: center;
  background-color: #f5e503;
  border-radius: 10px;
  height: 300px;
}
 */
.hero-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: white;
  margin-bottom: 40px;
  
}

.hero-text h1{
  /* font-family: 'Permanent Marker' , cursive; */
  font-size: 40px;
  line-height: 1;
  /* color: red; */
  color: red;
  margin: 0 0 45px;
}


.hero-text h4 {
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}


.hero-text p{
  color: #fff;
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 40px;
  /* font-weight: 600; */
}

.hero-text a{
  display: inline-block;
  color: white;
   background: red; 
 /*  background: #e80d18; */
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .55s ease;
  opacity: 0.9;
}

.hero-text a:hover{
  background: transparent; 
  border: 1px solid rgb(236, 230, 230);
  transform: translateX(8px);
}

.hero-text a.ctaa{
  background: red;
 /*  background: transparent; */
  border: 1px solid white;
  margin-left: 20px;
  cursor: not-allowed;
  opacity: 0.3;
}

.icons{
  position: absolute;
  top: 100%;
  padding: 0 9%;
  transform: translateY(-50%);
}

.icons i{
  display: block;
  margin: 26px 0;
  font-size: 20px;
  color: #fff;
  transition: all .50s ease;
}

.icons .fa-discord:hover {
  color: #3b5998;
  transform: translateY(-5px);
}

.icons .fa-x-twitter:hover {
  color: #363a3d;
  transform: translateY(-5px);
}

/* .scroll-down{
  position: absolute;
  bottom: 6%;
  right: 9%;
}

.scroll-down i {
  display: block;
  padding: 12px;
  font-size: 12px;
  color: white;
  background: black;
  border-radius: 20px;
  transition: all .50s ease;
}

.scroll-down i:hover{
  transform: translateY(-5px);
}
 */

@media (max-width: 1535px){
  header{
    padding: 15px 3%;
    transition: .2s;
  }


  .icons{
    padding: 0 3%;
    transition: .2s;
  }

/*   .scroll-down{
    right: 3%;
    transition: .2s;
  } */
}

@media (max-width: 1460px){
  section{
    padding: 0 12%;
    transition: .2s;
  }  
}


@media (max-width: 1340px){
  .hero-img img{
    width: 100%;
    height: auto;
  }

  .hero-text h1 {
    font-size: 40px;
    margin: 0 0 30px;
  }

  .hero-text h5{
    margin-bottom: 25px;
  }
}


@media (max-width: 1195px){

  section{
  padding: 0 3%;
  transition: .2s;
  } 

  .hero-text{
  padding-top: 115px;
}

.hero-text h1{
  font-size: 2em;
}

.hero-img{
  text-align: center;
}
  .hero-img img{
  width: 560px;
  height: auto;
  }

  .hero{
  height: 100%;
  gap: 1rem;
  grid-template-columns: 1fr;
  }

  .icons{
  display: none;
  }
  .scroll-down{
  display: none;
  }
}

@media (max-width: 990px){
  #menu-icon{
    display: block;
  }

  .navlist{
    position: absolute; 
    /* position: fixed; */ 
    top: 100%;
    right: -100%;
    width: 300px;
    height: 40vh;
    background: linear-gradient(245.59deg,  #e80d18 28.53%, #131313 75.52%);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all .55s ease;
  }

  .navlist a{
    margin-left: 0;
    display: block;
    margin: 7px 0;

  }

  .navlist.open{
    right: 0;
  }

 /*  .hero-text h1{
    font-size: 2em;
  } */
}

@media (max-width: 680px){
  .hero-img img{
    width: 100%;
    height: auto;
  }
  .hero-text h1{
    font-size: 2em;
  }
}

span{
  color: #fff;
}



/* Our service Section */

/* .ourProcess {
  background: #e80d18;
  
} */

/* .process-container {
   background: #e80d18; 
} */

#processText{
  padding: 53px;
	color:#fdfdfd;
	font-weight:700;
	/* margin-top:115px; */	 
	text-align:center;
	text-transform:uppercase;
	letter-spacing:4px;
	line-height:23px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

/* --- Start progress bar --- */

.process-wrapper {
	margin:auto;
	max-width:1080px;
}

#progress-bar-container {
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:999;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 2px #000000;
	transition:all ease 0.3s;
     
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 2px #fff;
    background: #fdfdfd;
	/* background: linear-gradient(245.59deg,  #e80d18 28.53%, #131313 75.52%);  */
}

#progress-bar-container li {
	list-style:none;
	float:left;
	width:20%;
	text-align:center;
	color:#e80d18;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
  font-size: 14px;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#000000;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background:#e80d18;
	margin:auto;
	border:solid 7px #0a0a0a;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
	background:#555;
}

#progress-bar-container li.active:after {
	background:#f5e503;
}

#progress-bar-container #line {
	width:80%;
	margin:auto;
	background: #fdfdfd;
	height:6px;
	position:absolute;
	left:10%;
	top:57px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;
	background: yellow;	 
	/* background: linear-gradient(to right, #207893 0%,#2ea3b7 100%); */ 
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	background: #131313;
	border-radius: 4px;
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:17px;
	text-transform:uppercase;
	color: #e80d18;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#f3efef;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}


/* About-us Start */


.about-section{
  /* margin-top: 100px; */
  background: url(/assets/img/Coffee_Break_2.png) no-repeat left;
  background-size: 50%; 
  /* background-color: #fdfdfd; */
  /* background-color: #e80d18; */
  overflow: hidden;
  padding: 150px 0;
  margin-left: 40px;  
  margin-top: 20px;  
  /* border: solid 2px #f5e503 */ 
}

.inner-container{
  width: 50%;
  float: right;
  /* background-color: #fdfdfd; */
  /* background-color: #e80d18; */
  padding: 150px;
}

.inner-container h1{
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  color: #f4f4f5;
}

.text{
  font-size: 13px;
  color: #fff;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}



@media screen and (max-width:1200px){
  .inner-container{
      padding: 80px;
  }
 
}

@media screen and (max-width:1000px){

  .inner-container{
      width: 100%;
  }
}

@media screen and (max-width:600px){
  .about-section{
      padding: 0;
  }
  .inner-container{
      padding: 60px;
  }
  .inner-container h1 {
    text-align: center;
  }
}

/* About-us End */



/* Meet the team Section */

.team{
	position: relative;
	width: 100%;
	height: 100vh;
	/* background: radial-gradient(#281c3e,#0f051d); */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.our-team {
  color: #fdfdfd;
  text-align: center;
  font-size: 2.5em;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  font-weight: 900;
}
.team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
  /* justify-content: space-between; */
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}
.center h1{
	color: #fff;
	font-size: 4rem;
	text-align: center;
}
.box{ 
	padding: 16px ;
	background: #f4f4f5;
	border-radius: 15px;
	transition: all .38s ease;
}
.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #000000;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #000000;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
/* .icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
} */
.box:hover{
  background: turquoise;
	transform: translateY(-10px);
	cursor: pointer;
}


@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}
/* Ending of Meet the team Section */








/* Footer Start */


.footer-icons ul li {
  display: inline-block;
}

.footer-icons ul li a {
  border: 1px solid #444;
  color: #fff;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 38px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
  border-radius: 50%;
}

.footer-icons {
  text-align: center;
}

.footer-contacts p span {
  color: #3EC1D5;
  font-weight: 700;
}

.popular-tag ul li {
  display: inline-block;
}

.footer-content {
  display: block;
  overflow: hidden;
}

.popular-tag ul li a:hover, 
.footer-icons ul li a:hover {
  background: #e80d18;
  border: 1px solid #000000;
  color: #fff;
}

.popular-tag ul li a {
  border: 1px solid #444;
  border-radius: 30px;
  color: #444;
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin: 5px 3px;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.4s ease 0s;
  width: 70px;
  text-align: center;
}

.footer-area-bottom {
  background: #000000 none repeat scroll 0 0;
  padding: 15px 0;
}

.copyright-text a:hover {
  text-decoration: underline;
  color: #3EC1D5;
}

.copyright-text a {
  color: #444;
}

.copyright> p {
  margin-bottom: 0;
  color: #fff;
}

.credits {
  padding-top: 5px;
  text-align: center;
}

.credits a {
  color: #e80d18;
}
/* Footer End */

